<div id="content">
    <div class="wrapper">
        <div class="lf">
            <div class="contact_ct">
                <h3>TRUNG TÂM HOA LUÂN UY</h3>
                <p>
                    <strong>Địa chỉ shop hoa:</strong> đường Nguyễn Thiện Thuật, tx Mỹ Hào, tp Hưng Yên

                </p>
                <p><strong>Điện thoại:</strong> 0976 551 039 - 0366 709 089 (24/7)</p>
                <p><strong>Email:</strong> quyenkd123@gmail.com</p>
            </div>
            <div class="contact_r">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.3704459929972!2d106.05667951476161!3d20.937633486047822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a4812ff89017%3A0x4ac13e5e84dacba9!2sTrung%20t%C3%A2m%20hoa%20Lu%C3%A2n%20Uy!5e0!3m2!1sen!2s!4v1632240998455!5m2!1sen!2s" width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="rt">
            @await Html.PartialAsync("_BannerTab")
        </div>
    </div>
</div>
<div class="line-b padding_top_20">
</div>