@model MayTinh.Models.OrderViewModel
@{ var currentCart = (List<MayTinh.Models.CartItemViewModel>)ViewBag.currentCart;
    var totalPrice = ViewBag.totalPrice; }

<form action="/Cart/Checkout" method="post" class="checkout woocommerce-checkout">

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Thông tin người mua</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Họ và tên</label>
                            <input asp-for="OrderName" class="form-control" type="text" placeholder="Họ và tên">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Số điện thoại</label>
                            <input asp-for="OrderPhone" class="form-control" type="text" placeholder="Số điện thoại">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input asp-for="OrderEmail" class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Địa chỉ</label>
                            <input asp-for="OrderAddress" class="form-control" type="text" placeholder="Địa chỉ">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Ghi chú</label>
                            <input asp-for="OrderNote" class="form-control" type="text" placeholder="Ghi chú">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Thông tin đơn hàng</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Sản phẩm</h5>
                        @if (currentCart.Count() > 0)
                        {
                            foreach (var item in currentCart)
                            {
            <div class="d-flex justify-content-between">
                <p>@item.Name</p>
                <p>@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;</p>
            </div>}
    }

                        <hr class="mt-0">
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng tiền</h5>
                            <h5 class="font-weight-bold">@Convert.ToDecimal(totalPrice).ToString("N0")&nbsp;</h5>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Đặt hàng</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<!-- Checkout End -->
