@model MayTinh.Models.OrderViewModel
@{
    var currentCart = (List<MayTinh.Models.CartItemViewModel>)ViewBag.currentCart;
    var totalPrice = ViewBag.totalPrice;
}

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div class="woocommerce">
                        <form name="checkout" method="post" class="checkout woocommerce-checkout">
                            <div class="row pt-0 ">
                                <div class="large-7 col  ">
                                    <div id="customer_details">
                                        <div class="clear">
                                            <div class="woocommerce-billing-fields">
                                                <h3>Thông tin thanh toán</h3>
                                                <div class="woocommerce-billing-fields__field-wrapper">
                                                    <p class="form-row form-row-wide validate-required">
                                                        <label>
                                                            Họ và tên&nbsp;<abbr class="required" title="bắt buộc">*</abbr>
                                                        </label>
                                                        <span class="woocommerce-input-wrapper">
                                                            <input type="text" asp-for="OrderName" class="input-text">
                                                        </span>
                                                        <span asp-validation-for="OrderName" class="text-danger error-input"></span>
                                                    </p>
                                                    <p class="form-row form-row-wide validate-required">
                                                        <label>
                                                            Số điện thoại&nbsp;<abbr class="required" title="bắt buộc">*</abbr>
                                                        </label>
                                                        <span class="woocommerce-input-wrapper">
                                                            <input type="number" asp-for="OrderPhone" class="input-text ">
                                                        </span>
                                                        <span asp-validation-for="OrderPhone" class="text-danger error-input"></span>
                                                    </p>
                                                    <p class="form-row form-row-wide validate-required">
                                                        <label>
                                                            Địa chỉ&nbsp;<abbr class="required" title="bắt buộc">*</abbr>
                                                        </label>
                                                        <span class="woocommerce-input-wrapper">
                                                            <input type="text" asp-for="OrderAddress" class="input-text ">
                                                        </span>
                                                        <span asp-validation-for="OrderAddress" class="text-danger error-input"></span>
                                                    </p>
                                                    <p class="form-row form-row-wide validate-required">
                                                        <label>
                                                            Email&nbsp;<abbr class="required" title="bắt buộc">*</abbr>
                                                        </label>
                                                        <span class="woocommerce-input-wrapper">
                                                            <input type="email" asp-for="OrderEmail" class="input-text ">
                                                        </span>
                                                        <span asp-validation-for="OrderEmail" class="text-danger error-input"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clear">
                                            <div class="woocommerce-shipping-fields">
                                            </div>
                                            <div class="woocommerce-additional-fields">
                                                <h3>Thông tin bổ sung</h3>
                                                <div class="woocommerce-additional-fields__field-wrapper">
                                                    <p class="form-row notes" id="order_comments_field" data-priority="">
                                                    <label for="order_comments" class="">Ghi chú đơn hàng&nbsp;<span class="optional">(tuỳ chọn)</span></label>
                                                    <span class="woocommerce-input-wrapper">
                                                        <textarea asp-for="OrderNote" class="input-text "  placeholder="Ghi chú về đơn hàng, ví dụ: thời gian hay chỉ dẫn địa điểm giao hàng chi tiết hơn." rows="2" cols="5"></textarea></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- large-7 -->

                                <div class="large-5 col">

                                    <div class="col-inner has-border">
                                        <div class="checkout-sidebar sm-touch-scroll">
                                            <h3 id="order_review_heading">Đơn hàng của bạn</h3>
                                            <div id="order_review" class="woocommerce-checkout-review-order">
                                                <table class="shop_table woocommerce-checkout-review-order-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-name">Sản phẩm</th>
                                                            <th class="product-total">Tạm tính</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (currentCart.Count() > 0)
                                                        {
                                                            foreach (var item in currentCart)
                                                            {
                                                                <tr class="cart_item">
                                                                    <td class="product-name">
                                                                        @item.Name&nbsp;						 <strong class="product-quantity">×&nbsp;@item.Quantity</strong>
                                                                    </td>
                                                                    <td class="product-total">
                                                                        <span class="woocommerce-Price-amount amount">@Convert.ToDecimal(Convert.ToInt32(item.Price) * item.Quantity).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="order-total">
                                                            <th>Tổng</th>
                                                            <td><strong><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(totalPrice).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></strong> </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>

                                                <div id="payment" class="woocommerce-checkout-payment">
                                                    <ul class="wc_payment_methods payment_methods methods">
                                                        <li class="woocommerce-notice woocommerce-notice--info woocommerce-info">Xin lỗi, có vẻ như không có phương thức thanh toán nào phù hợp với khu vực bang hiện tại của bạn. Vui lòng liên hệ với chúng tôi nếu bạn cần hỗ trợ hoặc muốn sắp xếp phương án thay thế.</li>
                                                    </ul>
                                                    <div class="form-row place-order">
                                                        <noscript>
                                                            Trình duyệt của bạn không hỗ trợ JavaScript, hoặc nó bị vô hiệu hóa, hãy đảm bảo bạn nhấp vào <em>Cập nhật giỏ hàng</em> trước khi bạn thanh toán. Bạn có thể phải trả nhiều hơn số tiền đã nói ở trên, nếu bạn không làm như vậy.			<br /><button type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Cập nhật tổng">Cập nhật tổng</button>
                                                        </noscript>

                                                        <div class="woocommerce-terms-and-conditions-wrapper">

                                                        </div>


                                                        <button type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Đặt hàng">Đặt hàng</button>

                                                        <input type="hidden" id="woocommerce-process-checkout-nonce" name="woocommerce-process-checkout-nonce" value="7f905b19c0"><input type="hidden" name="_wp_http_referer" value="/?wc-ajax=update_order_review">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="woocommerce-privacy-policy-text"></div>
                                        </div>
                                    </div>

                                </div><!-- large-5 -->

                            </div><!-- row -->
                        </form>

                    </div>


                </div><!-- .col-inner -->
            </div><!-- .large-12 -->
        </div><!-- .row -->
    </div>


</main>