
<!-- start breadcrumb area-->
<section class="breadcrumb-area padding-30">
    <div class="container">
        <div class="breadcrumb breadcrumb-box">
            <ul>
                <li><a href="/"><span class="fa fa-home"><span>Trang chủ</span></span></a></li>
                <li><span>Thanh toán thành công</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- end breadcrumb area-->
<!-- start 404 -->
<section class="main-page container">
    <div class="main-container col1-layout">
        <div class="main">
            <div class="col-main">
                <section class="shopping-cart">
                    <div class="checkout-area">
                        <div style="margin-bottom: 40px;">
                            <div class="alert alert-danger" style="font-size: 18px;">
                                <strong style="font-size: 25px;">Thanh toán thành công!</strong>
                            </div>
                            <a style="font-size: 25px" class="btn btn-success" href="/">Tiếp tục mua hàng</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
