@model MayTinh.Data.News
@{
    ViewData["Title"] = "Chi tiết tin";
    var categories = (List<MayTinh.Data.CategoriesNew>)ViewBag.categories;
    var relatedNews = (List<MayTinh.Data.News>)ViewBag.relatedNews;
    var ListNews = (List<MayTinh.Data.News>)ViewBag.ListNews;
}

<!-- Shop Detail Start -->
<div class="container-fluid py-5">

    <div class="row px-xl-5">
        <div class="col">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">T@Model.Name</h4>
                    <p>@Html.Raw(Model.Detail)</p>
                </div>
             
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Tin liên quan</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @if (relatedNews.Count() > 0)
                {
                    foreach (var item in relatedNews)
                    {
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="@item.Logo" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.Name</h6>                  
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="/tin-tuc/@item.Url/@item.Id" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Chi tiết</a>
                    </div>
                </div>
                            } }
                    </div>
        </div>
    </div>
</div>
<!-- Products End -->
